.modal-content {
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
  display: flex;
  flex-direction: column;
  height: auto; /* 고정 높이를 제거하여 내용에 맞게 조정 */
  min-height: 350px;
  gap: 20px; /* 필드 간의 간격을 일정하게 유지 */
  min-height: 500px; /* 모달의 최소 높이를 설정하여 필드들이 공간을 충분히 가짐 */
}

.modal-content h2 {
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;
  font-weight: bold;
}

.modal-content label {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
  color: #333;
}

.modal-content input,
.modal-content textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 14px;
  margin-bottom: 20px;
}

.modal-content textarea {
  height: 100px;
  resize: none;
}

.button-group {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* 버튼을 더 아래로 밀어내기 위한 여백 추가 */
}

.submit-button {
  width: 80%;
  padding: 15px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 18px;
}
