body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

.header {
  text-align: center;
  padding: 20px;
  background-color: #ffffff;
  border-bottom: 1px solid #ddd;
}

.logo h1 {
  font-size: 24px;
  margin: 0;
}

.create-group-form {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.create-group-form h2 {
  margin-bottom: 20px;
  font-size: 20px;
}

.create-group-form label {
  display: block;
  margin-top: 25px;
  margin-bottom: 2px;
  font-size: 14px;
  color: #333;
  text-align: left;
  font-weight: bold;
}

.create-group-form input,
.create-group-form textarea {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.create-group-form textarea {
  height: 100px;
  resize: none;
}

.toggle-switch {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
}

.toggle-checkbox {
  display: none;
}

.toggle-label {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
  background-color: #ccc;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.toggle-label:before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 21px;
  height: 21px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s;
}

.toggle-checkbox:checked + .toggle-label {
  background-color: #333;
}

.toggle-checkbox:checked + .toggle-label:before {
  transform: translateX(25px);
}

.create-button {
  padding: 10px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
  font-size: 16px;
  width: 100%;
}

/* 비밀번호 생성 섹션에 대한 간격 추가 */
#create-group-form label[for="group-password"] {
  margin-top: 15px;
}
