.modal-overlay1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5); /* 모달 배경 */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* 최상위에 위치 */
  }
  
  .modal-content1 {
    background: white;
    padding: 20px;
    width: 480px;
    height: 335px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1001; /* 배경보다 위에 위치 */
  }
  
  .modal-input1 {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .modal-delete-button1, .modal-close-button1 {
    padding: 12px 20px;
    background-color: #000;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .modal-close-button1 {
    background-color: #888;
  }
  